
.linea{
    background: green;
    height: 60px;
    display: flex;
    margin-bottom: 5px;
    &.justify{
        justify-content: space-between;
    }
    &.align-items{
        align-items:center;
    }
    &.wrap{
        flex-wrap:wrap;
    }
    &.flex-direction{
        flex-direction:column;
    }
}
.columna{
    background: yellow;
    // height: 20px;
    width: 100px;
    // margin: 5px;
    border: 1px solid black;
    // factor de crecimiento
    &.grow-1{
        flex-grow:1;    
    }
    &.grow-2{
        flex-grow:2;    
    }
    // factor de achicamiento
    &.shrink-1{
        flex-shrink:1;    
    }
    &.shrink-2{
        flex-shrink:2;    
    }
    &.basis-20{
        flex-basis:20%;    
    }
    &.basis-80{
        flex-shrink:80%;    
    }
}