html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(45deg, #4258d0, #e42861);
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
table td,
table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
table td:first-child,
table th:first-child {
  padding-left: 20px;
}
table td:last-child,
table th:last-child {
  padding-right: 20px;
}
table th {
  background: #36304a;
  color: white;
  font-weight: 300;
  text-transform: capitalize;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius: 0 5px 0 0;
}
table tbody {
  background: white;
  border-radius: 0 0 5px 5px;
}
table tbody tr {
  transition: background 200ms;
  transition: color 300ms;
  transition-timing-function: ease-out;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tbody tr.active {
  background: #e42861;
  color: whitesmoke;
}
table tbody tr:last-child td {
  border: none;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */
  table,
thead,
tbody,
th,
td,
tr {
    display: block;
  }

  table {
    /* Hide table headers*/
  }
  table thead tr {
    display: none;
  }
  table tbody {
    border-radius: 5px;
  }
  table tr {
    padding: 15px 6px;
  }
  table tr td {
    /* Behave  like a "row" */
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    border: none;
  }
  table tr td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-before);
    /* Se asigna el valor por JS */
    font-weight: 300;
    text-transform: capitalize;
  }
}
.form {
  width: 100%;
  background: white;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 30px 20px;
  border-radius: 5px;
}
.form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form .field.radio, .form .field.checkbox {
  flex-direction: row;
}
.form .field label {
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 3px;
}
.form .field select,
.form .field input {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 3px 8px;
}

#container {
  width: 90%;
  margin: 30px 0;
}

.loading {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

/*# sourceMappingURL=styles.css.map */
